
<div class="container">
  <div class="row">
      <h2>Add New Ticket Request </h2>
      <p>Ticket ID :- <input type ="text" disabled class="form-control" [(ngModel)]="tkt.ticketId"/></p>
      <p>Ticket Owner :- <input type ="text" class="form-control" [(ngModel)]="tkt.ticketOwner"/></p>
      <p>Ticket Reason :- <input type ="text" class="form-control" [(ngModel)]="tkt.ticketReason"/></p>
      <p>Ticket Status :- <input type ="text" class="form-control" [(ngModel)]="tkt.ticketStatus"/></p>
      <p>
          <button class="btn btn-info m-lg-2" (click) ="addDataToDatabase()">Save Changes</button>
          <button class="btn btn-primary" routerLink="/Ticket/All">
              <i class="fa fa-arrow-left"></i> Back</button>
      </p>
  </div>
</div>
