<div class="container">
  <div class="row">
      <div class="h1 my-4 p-5 big-info">
          <h1 style="text-align: center;">
              {{title}}
          </h1>
      </div>
  </div>
  <nav class="nav navbar navbar-expand-sm bg-info">
      <ul class="navbar-nav">
        <li class="navItem m-2"><a class="btn btn-secondary" routerLink= "Home" href="">Home</a></li>
          <li class="navItem m-2"><a class="btn btn-secondary" routerLink= "/Ticket/All" href="">All Ticket</a></li>
          <li class="navItem m-2"><a class="btn btn-success" routerLink = "/Ticket/Add" href="">Add New Ticket</a></li>
      </ul>
  </nav>
</div>
